numpy
pandas
python-dateutil
pytz
six
easydict
tqdm
torch  --index-url https://download.pytorch.org/whl/cu118
torchvision  --index-url https://download.pytorch.org/whl/cu118
opencv_python
Pillow
tensorboardX