deepface==0.0.79
dependencies==7.7.0
easydict==1.10
mediapipe==0.10.0
numpy==1.23.5
numpy==1.24.3
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==1.5.3
pandas==2.0.2
Pillow==9.4.0
Pillow==9.5.0
Pillow==9.5.0
Requests==2.31.0
tensorboardX==2.6
tensorboardX==2.6
tensorflow==2.12.0
tensorflow_intel==2.12.0
torch==1.12.1
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.64.1
tqdm==4.65.0
